# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'GeoJSON': 'geojson-preview:show'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'GeoJSON'
      'submenu': [
        { 'label': 'Preview Buffer', 'command': 'geojson-preview:show' }
      ]
    ]
  }
]
